@import url(../vendor/fonts.css);

.page {
  font-family: Gilroy-Medium;
  max-width: 1180px;
  margin: 0 auto;
  text-align: center;
}

.header__name {
  margin: 10px auto;
}

.about-me__text{
  font-size: 19px;
  font-style: normal;
  font-weight: 500;

}

.about-me__image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.contacts {
  margin: 0 auto;
}

.menu {
  max-width: 600px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  border-top: 1px solid gray;
  padding: 10px;
  list-style: none;
}

.menu_footer {
  max-width: 80%;
  margin-top: 40px;
  /* border: 1px solid red; */
  border-top: 1px solid gray;
}

.menu__item {
  line-height: 50px;
  /* border: 1px solid red; */
}

.menu__item-link {
  text-decoration: none;
  color: tomato;
  opacity: 1;
  transition: 0.8s;
}

.menu__item-link:hover {
  opacity: 0.7;
}

.menu__icon{
  width: 50px;
  height: 50px;
}

.menu__icon-rs{
  width: 65px;
  height: 65px;
}

.about-me__text {
  max-width: 80%;
  margin: 0 auto;
}

.skills__item {
  max-width: 160px;
  margin: 10px auto;
}

.my-code__code {
  max-width: 900px;
  margin: 0 auto;
  text-align: left;
  border-left: 3px solid gray;
  padding-left: 15px;
  color: gray;
}

.work-experience {
  max-width: 80%;
  margin: 0 auto;
}

.work-experience__menu {
  list-style: decimal;
  text-align: left;
}

.work-experience__link {
  text-decoration: none;
  color: tomato;
  opacity: 1;
  transition: 0.8s;
}

.work-experience__link:hover {
  opacity: 0.7;
}

.work-experience__item {
  margin: 10px auto;
}
